.pd-bottom40{
    padding-bottom:40px;
}
.pd-top20{
    padding-top: 20px;
}
.table-container-padding {
    padding: 20px 15px 15px 20px;
    width:100%;
}
.table-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #4F5861;
    margin-right: 10px;
}
