

<div class="table-container-padding container-padding-with-no-header">
    <div class="row">
        <div class="col-6">
            <span class="table-title">Offer Criteria and NPV - {{name}} </span>
        
        </div>
    </div>
    <div class="row pd-bottom40">
        <div class="col-12">

            <dx-data-grid #gridContainer
                id="gridContainer"
                class="gridContainerPL"
                [dataSource]="npvData"
                [showColumnLines]="false"
                [showRowLines]="true"
                [showBorders]="true"
                [rowAlternationEnabled]="false"
                [columnAutoWidth]="true" 
                
                [allowColumnResizing]="true"
                >

                <dxo-paging [enabled]="false"></dxo-paging>

                <dxi-column [allowFiltering]="false"
                            [allowSorting]="false"
                            dataField="rowName"
                            caption=""
                            alignment="left"
                            headerCellTemplate="titleHeaderTemplateNPV"
                            cellTemplate="rowNameNPV"
                            > 
                    <div *dxTemplate="let rnpv of 'rowNameNPV'">
                        <strong title="{{rnpv.data.rowName}}" class="column-one grid-color" >{{ rnpv.data.rowName }}</strong>
                    </div>               
                </dxi-column>
                <div *dxTemplate="let info of 'titleHeaderTemplateNPV'">
                    <span *ngIf="this.npvHeader.length > 0">{{ this.npvHeader[0].rowName }}</span>
                </div>
                
                <dxi-column [allowFiltering]="false"
                            [allowSorting]="false"
                            dataField="year1Value" 
                            caption="1"
                            alignment="right">
                </dxi-column>
                <dxi-column [allowFiltering]="false"
                            [allowSorting]="false" 
                            dataField="year2Value" 
                            caption="2"
                            alignment="right">
                </dxi-column>
                <dxi-column [allowFiltering]="false"
                            [allowSorting]="false" 
                            dataField="year3Value" 
                            caption="3"
                            alignment="right">
                </dxi-column>
                <dxi-column [allowFiltering]="false"
                            [allowSorting]="false" 
                            dataField="year4Value" 
                            caption="4"
                            alignment="right">
                </dxi-column>
                <dxi-column [allowFiltering]="false"
                            [allowSorting]="false" 
                            dataField="year5Value" 
                            caption="5"
                            alignment="right">
                </dxi-column>
                <dxi-column [allowFiltering]="false"
                            [allowSorting]="false" 
                            dataField="year6Value" 
                            caption="6"
                            alignment="right">
                </dxi-column>
                <dxi-column [allowFiltering]="false"
                [allowSorting]="false" 
                dataField="year7Value" 
                caption="7"
                alignment="right">
            </dxi-column>
                <dxi-column [allowFiltering]="false"
                [allowSorting]="false" 
                dataField="year8Value" 
                caption="8"
                alignment="right">
            </dxi-column>
                <dxi-column [allowFiltering]="false"
                [allowSorting]="false" 
                dataField="year9Value" 
                caption="9"
                alignment="right">
            </dxi-column>
                <dxi-column [allowFiltering]="false"
                [allowSorting]="false" 
                dataField="year10Value" 
                caption="10"
                alignment="right">
        </dxi-column>
                
                
            </dx-data-grid>
        </div>
    </div>
    

    <div class="row">
        <div class="col-12">

            <dx-data-grid #gridContainer
                id="gridContainer"
                class="gridContainerPL"
                [dataSource]="ocData"
                [showColumnLines]="false"
                [showRowLines]="true"
                [showBorders]="true"
                [rowAlternationEnabled]="false"
                [columnAutoWidth]="true" 
                [allowColumnResizing]="true"
                >

                <dxo-paging [enabled]="false"></dxo-paging>

                <dxi-column [allowFiltering]="false"
                            [allowSorting]="false"
                            dataField="rowName"
                            caption=""
                            alignment="left"
                            headerCellTemplate="titleHeaderTemplateOC"
                            cellTemplate="rowNameOC"
                            > 
                    <div *dxTemplate="let rn of 'rowNameOC'">
                        <strong title="{{rn.data.rowName}}" class="column-one grid-color" >{{ rn.data.rowName }}</strong>
                    </div>               
                </dxi-column>
                <div *dxTemplate="let info of 'titleHeaderTemplateOC'">
                    <span *ngIf="this.ocHeader.length > 0" >{{ this.ocHeader[0].rowName }}</span>
                </div>
                
                <dxi-column [allowFiltering]="false"
                            [allowSorting]="false"
                            dataField="taOfferValue" 
                            caption="TA $ Offer"
                            alignment="right">
                </dxi-column>
                <dxi-column [allowFiltering]="false"
                            [allowSorting]="false" 
                            dataField="taAmortizationValue" 
                            caption="TA $ Amortization"
                            alignment="right">
                </dxi-column>
                <dxi-column [allowFiltering]="false"
                            [allowSorting]="false" 
                            dataField="roicValue" 
                            caption="ROIC"
                            alignment="right">
                </dxi-column>
                
            </dx-data-grid>
        </div>
    </div>
</div>
