.pl-container {
    padding: 14px 29px 50px;
}
.column-one {
    /*color: #4F5861;*/
    font-weight:600;
}
.grid-color {
    color: #4F5861;
}
.npv-modal{
    color:#0076C8;
    font-size: 16px;
    margin-top: 20px;
}
.padding-l-2{
    padding-left: 2px;
}
