footer {
  text-align: center;
  background-color: #313A46;
  color: #FFF8F8;
  font-size: 14px;
  /*background-color: #313A46;*/
  font-weight: 300;
  height: 49px;
  line-height: 44px;
}
.loan-contact-us-upper {
  border-radius: 20px;
  background-color: #fff;
  color: #0076c8;
  font-size: 14px;
  padding: 4px 8px;
  border: 2px solid #fff;
  // margin-left: 1.8rem;
}
