<div class="error-container">
    <div class="errorMsgStyle">
        <p>You do not have permission to access the TA Calculator application.  To get access, please submit an <span class='hlink'><a href='https://lplfinancialprd.service-now.com/sp?id=sc_cat_item&sys_id=c96c711c1b22d0989dffa9bfbd4bcb36' target="_blank">LPL Employee Self-Service Portal</a></span> request for Home Office Role Provisioning in ForgeRock and specify one of the following roles:</p>

        <div class="text-center ">
            <ul class="role-list">
                <li class="text-left">
                    HO_TACalculator_Submitter
                </li>
                <li class="text-left">
                    HO_TACalculator_Admin
                </li>
            </ul>
        </div>
        <!--<table class='errorTable'><tr><td>CALCULATOR_ADMIN</td><td>TA_Calculator_Admin</td></tr><tr><td>CALCULATOR_SUBMITTER</td><td>TA_Calculator_Submitters</td></tr><tr><td>CALCULATOR_SYSTEM_ADMIN</td><td>TA_Calculator_System_Admin</td></tr> </table><br>If you have questions, please contact <span class='hlink'><a href='mailto:AdvisorCapital@lplfinancial.com'>AdvisorCapital@lplfinancial.com</a></span>-->
    </div>
    <div class="pull-middle">
        <a href="javascript:void(0);" (click)="backToHomepage()">Click to Refresh</a>
    </div>
</div>
