.confirm-txt {
    font-size: 1rem;
}

.custom-footer {
    background: #ffffff;
}

.goal-header {
    h1 {
        font-family: "roboto";
    }
}

.btn-center {
    margin: 0px auto;
}

.mid-pad {
    margin-right: 10px;
}
.custom-primary:hover{
    color: #fff;
}