<div class="modal-wrapper">
    
        <div class="modal-header">
            
            <button (click)="exportPDF()" class="print-btn">
                PRINT
            </button>
           
        </div>
        <div class="modal-body goal-body" id="export">
            <div class="container-fluid data-container">
                <div class="row">
                    <div class="col-12 heading">
                        <h1>{{title}} - {{dateFormat(today)}}</h1>
                        <button (click)="bsModalRef.hide()" class="cross-btn">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-12 margin-top5 confirm-txt">
                        <table class="first-table">
                            <thead>
                                <tr>
                                    <th>Advisory Options</th>
                                    <th>Financial Details(GDC)</th>
                                    <th colspan="3">Financial Details(AUM)</th>
                                    <th colspan="2">Financial Summary</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>Advisory Name</strong>
                                        <p>{{inputData.Advisor_Team_Name}}</p>
                                    </td>
                                    <td>
                                        <strong>T12 Advisory GDC</strong>
                                        <p>{{inputData.T12_Advisory_GDC != undefined ? '$'+inputData.T12_Advisory_GDC : '-'}} </p>
                                    </td>
        
                                    <td>
                                        <strong>Advisory AUM</strong>
                                        <p><span>{{inputData.Advisory_dollar != undefined ? '$'+inputData.Advisory_dollar : '-'}}</span><span>{{inputData.Advisory_percentage}}</span><span *ngIf="inputData.Advisory_percentage != undefined">%</span> </p>
                                    </td>
                                    <td>
                                        <strong>Variable Annuities</strong>

                                        <p><span>{{inputData.Variable_Annuities_dollar != undefined ? '$'+inputData.Variable_Annuities_dollar : '-'}}</span><span>{{inputData.Variable_Annuities_percentage != undefined && inputData.Variable_Annuities_percentage != 0 ? inputData.Variable_Annuities_percentage : ''}}</span><span *ngIf="inputData.Variable_Annuities_percentage != undefined && inputData.Variable_Annuities_percentage != 0">%</span> </p>
                                    </td>
                                    <td>
                                        <strong>Fixed Income</strong>
                                        <p><span>{{inputData.Fixed_Income_dollar != undefined ? '$'+inputData.Fixed_Income_dollar : '-'}}</span><span>{{inputData.Fixed_Income_percentage != undefined && inputData.Fixed_Income_percentage != 0 ? inputData.Fixed_Income_percentage : ''}}</span><span *ngIf="inputData.Fixed_Income_percentage != undefined && inputData.Fixed_Income_percentage != 0">%</span> </p>
                                    </td>
        
                                    <td><strong>VAUM</strong>
                                        <p>{{inputData.VAUM != undefined ? '$'+inputData.VAUM : '-'}} </p></td>
                                        <td><strong>T12 GDC</strong>
                                            <p>{{inputData.T12_GDC != undefined ? '$'+inputData.T12_GDC : '-'}} </p></td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>No. of Advisors</strong>
                                        <p> {{inputData.No_of_Advisors}} </p>
                                    </td>
                                    <td>
                                        <strong>T12 Brokerage GDC</strong>
                                        <p>{{inputData.T12_Brokerage_GDC != undefined ? '$'+inputData.T12_Brokerage_GDC : '-'}} </p>
                                    </td>
        
                                    <td>
                                        <strong>Brokerage AUM</strong>
                                        <p><span>{{inputData.Brokerage_dollar != undefined ? '$'+inputData.Brokerage_dollar : '-'}}</span><span>{{inputData.Brokerage_percentage}}</span><span *ngIf="inputData.Brokerage_percentage != undefined">%</span> </p>
                                    </td>
                                    <td><strong>Fixed Annuities</strong>

                                        <p><span>{{inputData.Fixed_Annuities_dollar != undefined ? '$'+inputData.Fixed_Annuities_dollar : '-'}} </span><span>{{inputData.Fixed_Annuities_percentage != undefined && inputData.Fixed_Annuities_percentage != 0 ? inputData.Fixed_Annuities_percentage : ''}}</span><span *ngIf="inputData.Fixed_Annuities_percentage != undefined && inputData.Fixed_Annuities_percentage != 0">%</span></p></td>
                                    <td>
                                        <strong>AIs, UITs and Cash</strong>
                                        <p><span>{{inputData.AIs_UIT_Cash_dollar != undefined ? '$'+inputData.AIs_UIT_Cash_dollar : '-'}}</span><span>{{inputData.AIs_UIT_Cash_percentage != undefined && inputData.AIs_UIT_Cash_percentage != 0 ? inputData.AIs_UIT_Cash_percentage : ''}}</span><span *ngIf="inputData.AIs_UIT_Cash_percentage != undefined && inputData.AIs_UIT_Cash_percentage != 0">%</span> </p>

                                    </td>
                                    <td>
                                        <strong>Ramp</strong>
                                        <p><span>{{inputData.Ramp != undefined ? inputData.Ramp+'%' : '-'}}</span> </p>
                                    </td>
        
                                    <td><strong>GDC ROA: (bps)</strong>
                                        <p>{{inputData.GDC_ROA != undefined ? inputData.GDC_ROA : '-'}} </p></td>
                                        
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Prior Firm Type</strong>
                                        <p> {{inputData.Prior_Firm_Type != undefined ? inputData.Prior_Firm_Type : '-'}} </p>
                                    </td>
                                    <td>
                                        
                                    </td>
        
                                    <td>
                                        <strong>MFs (Custodied)</strong>

                                        <p><span>{{inputData.MFs_Custodied_dollar != undefined ? '$'+inputData.MFs_Custodied_dollar : '-'}}</span><span>{{inputData.MFs_Custodied_percentage != undefined && inputData.MFs_Custodied_percentage != 0 ? inputData.MFs_Custodied_percentage : ''}}</span><span *ngIf="inputData.MFs_Custodied_percentage != undefined && inputData.MFs_Custodied_percentage != 0">%</span> </p>
                                    </td>
                                    <td><strong>Fixed Annuities</strong>
                                        <p><span>{{inputData.Fixed_Annuities_dollar != undefined ? '$'+inputData.Fixed_Annuities_dollar : '-'}} </span><span>{{inputData.Fixed_Annuities_percentage != undefined && inputData.Fixed_Annuities_percentage != 0 ? inputData.Fixed_Annuities_percentage : ''}}</span><span *ngIf="inputData.Fixed_Annuities_percentage != undefined && inputData.Fixed_Annuities_percentage != 0">%</span></p></td>

                                    <td>
                                        
                                    </td>
                                    <td>
                                        <strong>EAUM</strong>
                                        <p><span>{{inputData.EAUM != undefined ? '$'+inputData.EAUM : '-'}}</span> </p>
                                    </td>
        
                                    <td>
                                        
                                    </td>
                                        
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Prior Firm Name</strong>
                                        <p> {{inputData.Prior_Firm_Name != undefined ? inputData.Prior_Firm_Name : '-'}} </p>
                                    </td>
                                    <td>
                                        
                                    </td>
        
                                    <td>
                                        <strong>MFs (Direct)</strong>

                                        <p><span>{{inputData.MFs_Direct_dollar != undefined ? '$'+inputData.MFs_Direct_dollar : '-'}}</span><span>{{inputData.MFs_Direct_percentage != undefined && inputData.MFs_Direct_percentage != 0 ? inputData.MFs_Direct_percentage : ''}}</span><span *ngIf="inputData.MFs_Direct_percentage != undefined && inputData.MFs_Direct_percentage != 0">%</span></p>
                                    </td>
                                    <td><strong>General Securities</strong>
                                        <p><span>{{inputData.General_Securities_dollar != undefined ? '$'+inputData.General_Securities_dollar : '-'}} </span><span>{{inputData.General_Securities_percentage != undefined && inputData.General_Securities_percentage != 0 ? inputData.General_Securities_percentage : ''}}</span><span *ngIf="inputData.General_Securities_percentage != undefined && inputData.General_Securities_percentage != 0">%</span></p></td>

                                    <td>
                                        
                                    </td>
                                    <td>
                                        
                                    </td>
        
                                    <td>
                                        
                                    </td>
                                        
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 OfferPageExport margin-top5 confirm-txt">
                        <dx-data-grid #gridContainer
                            id="gridContainer"
                            class="gridContainerOC"
                            [dataSource]="exportData"
                            [showColumnLines]="false"
                            [showRowLines]="true"
                            [showBorders]="true"
                            [rowAlternationEnabled]="false"
                            [columnAutoWidth]="true" 
                            [showColumnHeaders]="false"
                            [columnMinWidth]="320"
                            [columnResizingMode]="['widget']"
                            
                            >
        
                            <dxo-paging [enabled]="false"></dxo-paging>
        
                            <dxi-column [allowFiltering]="false"
                                        [allowSorting]="false"
                                            dataField="rowName" 
                                            [width]="300"
                                            [fixed]="true" fixedPosition="left"
                                            alignment="left">
                            </dxi-column>
        
                            <dxi-column [allowFiltering]="false"
                                        [allowSorting]="false"
                                        dataField="value1"
                                        alignment="right"
                                        [width]="320"
                                        *ngIf="firstColumn"
                                        
                                        > 
                                                                                
                            </dxi-column>
        
                            <dxi-column [allowFiltering]="false"
                                        [allowSorting]="false"
                                        dataField="value2"
                                        alignment="right"
                                        [width]="320"
                                        *ngIf="secondColumn"
                                        
                                        >                                        
                            </dxi-column>
        
                            <dxi-column [allowFiltering]="false"
                                        [allowSorting]="false"
                                        dataField="value3"
                                        alignment="right"
                                        *ngIf="thirdColumn"
                                        [width]="320"
                                        
                                        > 
                                                    
                            </dxi-column>
                            
                            
                        </dx-data-grid>
                    </div>
                </div>
                <div class="row bottom-disclaimer">
                    <div class="col-2 image-container">
                        <span class="export-offer-disclaimer-logo"> </span>
                    </div>
                    <div class="col-10 text-container">
                        <span>The above is intended solely for purposes of discussion and is considered illustrative. This is not intended, nor should it be construed as, a legally binding obligation or a finalized commitment to provide transition assistance. The above does not purport to summarize all the terms, conditions and other provisions with respect to the transaction referred to herein, and all terms referred to herein are subject to change based on, AUM and GDC reporting, prevailing market conditions, as well as other factors that are to be considered in LPL’s sole discretion.</span>
                    </div>
                    
                </div>
            </div> 
           
        </div>
    
    <!-- <div class="modal-footer custom-footer">
        <div class="col-12 text-center">
            <input type="button" class="btn cancel-btn mid-pad" value="{{cancelBtnTxt}}" name="Cancel" (click)="declineConfirmation()">
            <input type="button" class="btn custom-primary" value="{{confirmBtnTxt}}" name="Add" (click)="sendConfirmation()">
        </div>
    </div> -->
</div>



